@import "bootstrap/dist/css/bootstrap";

nav.navbar {
  background-color: #000000 !important;
}

.nav-link, .navbar-brand{
    color: #fff !important;
}

#logo{
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container{
    margin-top: 10px;
}

.jumbotron{
    background-image: asset-url("jumbo2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
    padding-top: 40px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

.card{
  margin: 10px 0;
}

.link-success{
  text-decoration: none;
}